h1,h2{
     color:black !important;
}
 * {
     box-sizing: border-box;
     font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
     font-size: 16px;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
}
 body {
}
 .login {
     width: 400px;
     background-color: #ffffff;
     box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
     margin: 100px auto;
}
 .login h1 {
     text-align: center;
     color: #5b6574;
     font-size: 24px;
     padding: 20px 0 20px 0;
     border-bottom: 1px solid #dee0e4;
}
 .login form {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding-top: 20px;
}
 .login form label {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 50px;
     height: 50px;
     background-color: #3274d6;
     color: #ffffff;
}
 .login form input[type="password"], .login form input[type="text"] {
     width: 310px;
     height: 50px;
     border: 1px solid #dee0e4;
     margin-bottom: 20px;
     padding: 0 15px;
}
 .login form input[type="submit"] {
     width: 100%;
     padding: 15px;
     margin-top: 20px;
     background-color: #3274d6;
     border: 0;
     cursor: pointer;
     font-weight: bold;
     color: #ffffff;
     transition: background-color 0.2s;
     position: relative;
     top: 5px;
}
 .login form input[type="submit"]:hover {
     background-color: #2868c7;
     transition: background-color 0.2s;
}
.navtop img{
    width: 10vw;
    float: left;
    margin-right: 0 auto;
}

 .navtop {
     height:100px;
     width: 100%;
     border: 0;
}
 .navtop div {
     display: flex;
     justify-content: flex-end;
     margin: 0 auto;
     width: 1000px;
     height: 100%;
}
 .navtop div h1, .navtop div a {
     display: inline-flex;
     align-items: center;
}
 .navtop div h1 {
     flex: 1;
     font-size: 24px;
     padding: 0;
     margin: 0;
     color: #eaebed;
     font-weight: normal;
}
 .navtop div a {
     padding: 0 20px;
     text-decoration: none;
     color: #c1c4c8;
     font-weight: bold;
}

a.brand{
    margin-right: auto;
}

 .navtop div a i {
     padding: 2px 8px 0 0;
}
 .navtop div a:hover {
     color: #eaebed;
}
 body.loggedin {
     background-color: #f3f4f7;
}
 .content {
     margin: 0 auto;
}
 .content h2 {
     margin: 0;
     padding: 25px 0;
     font-size: 22px;
     border-bottom: 1px solid #e0e0e3;
     color: #4a536e;
}

 .content > p table td, .content > div table td {
     padding: 5px;
}
 .content > p table td:first-child, .content > div table td:first-child {
     font-weight: bold;
     color: #4a536e;
     padding-right: 15px;
}
 .content > div p {
     padding: 5px;
     margin: 0 0 10px 0;
}
/* display file information */
/* Create the caret/arrow with a unicode, and style it */
 .caret::before {
     content: "\25B6";
     color: black;
     display: inline-block;
     margin-right: 6px;
}
/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
 .caret-down::before {
     transform: rotate(90deg);
}

ul{
    list-style:none;
}

 ul.nested {
     display: none;
}
/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
 ul.active {
     display: block;
}
 .profileImage{
     padding-left:25%;
     padding-right:25%;
}
 button#openDirectories{
     background-color: #23395d;
}
 button.view {
     padding: 0.1rem 1rem;
     margin: 0px 5px;
     float:right;
}
 button.download {
     padding: 0.1rem 0.5rem;
     margin: 0px 5px;
     float:right;
}
 button.download#zip{
     background-color:mediumseagreen;
}

/* home scherm subjects styling*/
#profilePage{
    width:1000px;
    margin: 0 auto;
}

#profilePage a{
    color: white;
}

#containerSubjects{
    background: none;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    padding: 65px 0px;
}

.subjectBlock{
    background-color: #e6740e;
    width: 27.5%;
    height: 35vh;
}

.subjectBlock p{
    text-align: center;
    position: relative;
    top: 5vh;
    line-height: 7.5vh;
}

#subjectIcon{
    text-align: center;
    font-size: 37.5pt;
    width: 100%;
}


/* login page css */ 
button, input, select, optgroup, textarea {
    font-family: Arial;
}



/* css voor file page */
div#factuur{
    height: 20px;
    margin-bottom: 5%;
}

div#factuur p{
    float:left;
}

li{
    line-height:2;
}

#orderNummer p{
    font-size:10pt;
}

#bestanden{
    margin-bottom: 50px;
}

#bestanden p{
    font-size:10pt;
    width: 70%;
    float: left;
}

div#orderNummer{
    width: 600px;
    margin: 0 auto;
}

div.container{
    margin: 0 auto;
    padding: 25px 0px;
}

/* white container */
div#white.container{
    background-color: white;
}


/* grey container */
div#grey.container{
    background-color: #f0f0f0;
}


/* orange container */
div#orange.container{
    background-color: #e6740e;
    color:white;
}

div#orange.container button{
    color:#e6740e;
    background-color: white;
}

div.container span{
    font-size:24pt;
    font-family: 'Franklin Gothic Demi Cond', arial;
}

div.container span #titleProject{
    padding-left:5%;
}

button{
    background-color:#e7af8b;
}

#factuur p{
    font-size:14pt;
}

button#factuur{
     background-color:#e6740e;
     padding:0.3rem 1rem;
     margin-bottom:2%;
}

/* search bar styling */
#zoekFunctie{
    width: 600px;
    margin: 0 auto;
}

#zoekFunctie #searchIcon{
    border: 1px solid white;
    padding: 14px;
    color: white;
}

/* container factuur */
#containerFactuur{
    width:600px;
    margin:0 auto;
    list-style: none;
}

#factuurOrders{
    margin: 0;
    padding: 0;
}

span#titleProject{
    padding-left:5%;
}